@font-face {
    src: url('/resources/fonts/PermanentMarker.ttf');
}

.control-button {
    -fx-font-family: 'Permanent Marker';
    -fx-font-size: 52px;
    -fx-line-spacing: -65px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.control-button:hover {
    -fx-text-fill: #991c10;
}

.time-label, .move-counter-label {
    -fx-font-family: 'Permanent Marker';
    -fx-font-size: 65px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.control-button .text, .time-label .text, .move-counter-label .text {
    -fx-stroke: #000;
    -fx-stroke-width: 2px;
}

.new-game-button {
    -fx-font-size: 85px;
}

.rectangle {
    -fx-fill: rgba(255,255,255, 0.1);
    -fx-stroke: rgba(255,255,255, 0.4);
}

.rectangle:hover {
    -fx-fill: rgba(255,255,255, 0.2);
    -fx-stroke: rgba(255,255,255, 1);
}

.empty-rectangle {
    -fx-fill: transparent;
}

.number-label {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.number-label .text{
    -fx-stroke: #000;
    -fx-stroke-width: 2px;
}
